
.iletter{
    color: brown;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}



.btn-primary{
    color: brown;
    background-color:rgb(232, 149, 15);
}




nav{
    display: flex;
    font-size: 12px;
}



nav > ul {
    display: flex;
    
} 

nav  li{
    list-style: none;
    padding: 10px;
    
}

nav a{
    text-decoration: none;
    color: rgb(17, 15, 15);
}
